<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat {{.name}}</title>
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/static/js/chat.js"></script>
</head>
<body data-chat-name="{{.name}}">
  <div class="container">
    <div class="row">
      <nav class="menu">
        <ul class="items">
          <li class="item"><i class="fa fa-home" aria-hidden="true"></i></li>
          <li class="item"><i class="fa fa-user" aria-hidden="true"></i></li>
          <li class="item"><i class="fa fa-pencil" aria-hidden="true"></i></li>
          <li class="item item-active"><i class="fa fa-commenting" aria-hidden="true"></i></li>
          <li class="item"><i class="fa fa-file" aria-hidden="true"></i></li>
          <li class="item"><i class="fa fa-cog" aria-hidden="true"></i></li>
        </ul>
      </nav>

      <section class="discussions">
        
      </section>

      <section class="chat">
        <div class="header-chat">
          <i class="icon fa fa-user-o" aria-hidden="true"></i>
          <p class="name">{{.name}}</p>
          <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
        </div>
        <div class="messages-chat" id="messages" style="height: 80%; overflow-y: scroll;"></div>
        <div class="footer-chat">
          <input type="text" id="message" class="write-message" placeholder="Enter message...">
          <button class="send" onclick="sendMessage('{{.name}}')">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
        </div>
      </section>
    </div>
  </div>
</body>
</html>










<!-- 
<!DOCTYPE html>
<html>
<head>
    <title>Чат {{.name}}</title>
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="/static/js/chat.js"></script>
</head>
<body data-chat-name="{{.name}}">
    <h1>Чат {{.name}}</h1>
    <div id="chat">
        <div id="messages" style="height: 80%; overflow-y: scroll; border: 1px solid #ccc;"></div>
        <input type="text" id="message" placeholder="Введите сообщение...">
        <button onclick="sendMessage('{{.name}}')">Отправить</button>
    </div>
</body>
</html> 
-->
